@model Fabryka2018.Maszyna

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Maszyna</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_uruchomienia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_uruchomienia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hala.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hala.Nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
